$background-dark: #070707;
$background-light: #F7DC5F; 

@mixin zero-margin($pad-top-bottom:0px, $pad-left-right:0px){
    margin: 0px auto;
    padding: $pad-top-bottom $pad-left-right;
}

*{
    @include zero-margin(0px,0px);
    font-family: sans-serif;
}
body{
    background: $background-light;
}

.toplogo{
    height: 7vh;
    position: absolute;
    margin-top: 1vh;
    margin-left: 1vw;
}

.navbar{
    position: absolute;
    margin-top: 3vh;
    right: 2vw;

    li{
        list-style: none;
        padding: 0 1.5vw;
        display: inline-block;
        font-size: 1.3vw;
        font-family: sans-serif;
        min-width: 4.8vw;
    }

    .active{
        font-weight: bolder;
    }

}

.topbars{
    position: absolute;
    right: 2.5vw;
    margin-top: 0vh;
    padding-top: 0vh;



    li{
        background: $background-dark;
        padding: 0 1.5vw;
        margin-left: 1vw;
        height:0.2vh;
        width: 4vw; 
        list-style: none;
        display: inline-block;
    }

    .active{
        height: 0.8vh;
    }

}

.topnav{
    display: flex;
}

.header{
    display: block;
    background-color: $background-dark;
    color: $background-light;
    margin-top: 9vh;
    height: 60vh;
}

.description{
    padding-top: 15vh;
    text-align: center;
    font-size: 130%;
    

    h1{
        padding-bottom: 5vh;
        font-family: 'Arizonia', cursive;
        font-size: 15vh;
    }

    p{
        display: block;
        padding-left: 15vw;
        padding-right: 15vw;
    }
}


.listitem{
    display: block;
    padding-top: 10vh;
}

.items{
    display: flex;
    color: $background-light;
    text-align: center;
    margin: 0 10vw 0 20vw;   //top-right-bottom-left
    min-height: 35vh;
    border-radius: 20px;
    padding-left: 15vw;
    padding-top: 9vh;
    font-size: 130%;

    h1{
        display: block;
        position: absolute;
        font-family: 'Salsa', cursive;
        text-align: center;
        min-width: 1em;
    }

    ul{
        list-style: none;
        padding-top: 11vh;
        padding-left: 10vw;
        position: absolute;
        li{
            padding-bottom: 1vh;
        }
    }
}


.listitem{
    #one{
        background: #1c0e02e6;
    }
    #two{
        background: #041c02e6;
    }
    #three{
        background: #0b021ce6;
    }
    #four{
        background: #02111ce6;
    }    

}


img{
    position: absolute;
    display: flex;
    height:35vh;
    margin-top: 5vh;
    margin-left: 14vw;
    border: 1px solid;
}

a{
    text-decoration: none;
    color: $background-dark;
}

.copy{
    min-height: 5vh;
    font-size: 130%;
    color: $background-light;
    background-color: $background-dark;
    margin-top: 5vh;
    margin-bottom: 2vh;
    padding: 2vh 0;
    text-align: center;
}

